@{
    ViewData["Title"] = "Pc-Pdx";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "";
}
@*set layout to "" to not display nav bar*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
@model PcPdx.Models.Show


<h4> Add a new Show</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ApplicationUserId)

    @Html.LabelFor(model => model.ShowTitle)
    @Html.TextBoxFor(model => model.ShowTitle)

    <input class= "new-show" type="submit" value="Add new show" />
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.addShow').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: "Shows/Create",
                success: function (result) {
                    $('#showShow').html(result);
                }
            })
        });

        $('.new-show').submit(function (event) {
            event.preventDefault();
            console.log("start");
            $.ajax({
                url: "Shows/Create",
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    //return View("Index");
                    console.log(result)
                }
            })
        })
    })
</script>
