@{
    ViewData["Title"] = "Pc-Pdx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PcPdx.Models.Show


<h4> Add a new Show</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ApplicationUserId)

    @Html.LabelFor(model => model.ShowTitle)
    @Html.TextBoxFor(model => model.ShowTitle)
    @*@Html.LabelFor(model => model.ApplicationUserId)
    @Html.TextBoxFor(model => model.ApplicationUserId)*@

    <input type="submit" value="Add new show" />
}
