@{
    ViewData["Title"] = "Pc-Pdx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PcPdx.Models.User


<h4> Add a new User</h4>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.UserName)

    <input type="submit" value="Add new user" />
}
<p>@Html.ActionLink("Index", "Index")</p>
